.ruler{
	position: relative;
	box-sizing: content-box;
	border-width: 0px !important;

}
.ruler .ruler-x,.ruler .ruler-y{
	position: absolute;
	border:1px solid #999;
}

.ruler .ruler-x{
	background-image: url("x.svg");
	background-position: left bottom;
	background-repeat: repeat-x;
	top:-1.2em;bottom:100%;left:0;right:0;
	border-width:0px 1px;
}
.ruler .ruler-y{
	background-image: url("y.svg");
	background-position: top left;
	background-repeat: repeat-y;
	left:100%;right:-1.2em;top:0;bottom:0;
	border-width:1px 0px;
}
.ruler .ruler-x::after , .ruler .ruler-y::after{
	line-height: 1em;
	display: flex ;
	justify-content: center;  /* 가로 중앙 */
	align-items: center; /* 세로 중앙 */
	position: absolute;
	top:0;bottom:0;left:0;right:0;

	text-shadow: -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff, 1px 1px 0 #fff, 0 -2px 0 #fff, 0 2px 0 #fff, -2px 0 0 #fff, 2px 0 0 #fff;

}
.ruler .ruler-x[data-ruler]::after{
	content: attr(data-ruler);
	
}
.ruler .ruler-y::after{
	content: attr(data-ruler);
	/* transform: rotate(90deg); */
	writing-mode: vertical-rl;
	text-orientation: sideways;
}